<footer class="bg-dark">
          <div class="card">
            <div class="card-body">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Colaboradores</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Foto</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Juan Jesus Gomez Olvera</td>
                    <td><img src="../../../assets/juanje.jpg" width="60mvs" height="50mvs" class="rounded float-left" alt="..."></td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Abdi Yered Luna Neri</td>
                    <td><img src="../../../assets/abdi.jpg" width="60mvs" height="50mvs" class="rounded float-left" alt="..."></td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Jesus Hernandez Reyes</td>
                    <td><img src="../../../assets/jesus.jpg" width="60mvs" height="50mvs" class="rounded float-left" alt="..."></td>
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td>Maritza Islas Hernandez</td>
                    <td><img src="../../../assets/mari.jpg" width="60mvs" height="50mvs" class="rounded float-left" alt="..."></td>
                  </tr>
                  <tr>
                    <th scope="row">5</th>
                    <td>Luis Christian Carbajal Ibarra</td>
                    <td><img src="../../../assets/luis.jpg" width="60mvs" height="50mvs" class="rounded float-left" alt="..."></td>
                  </tr>
                  <tr>
                    <th scope="row">6</th>
                    <td>Gerardo Ventura Lugo</td>
                    <td><img src="../../../assets/gera.jpeg" width="60mvs" height="50mvs" class="rounded float-left" alt="..."></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          </footer>
            
          