<div class="alert alert-info" role="alert">
    
<div class="card-group">

    <div class="card">
      <div class="card-body">
        
        <h1 class="card-text"><small class="text-muted">Adquiere tus boletos aqui abajo</small></h1>
      </div>
    </div>
    <div
    data-role="calendar"
    data-show="2017/10/15"
    data-preset="
        2017/10/10,
        2017/10/11,
        2017/10/12,
        2017/10/13,
        2017/10/14,
        2017/10/15,
        2017/10/16"      
></div>
<div id="tabla-precios">

    <div class="precio-col">
     <div class="precio-col-header">
     <h3>$ 1500 X 2 BOLETOS</h3>
     <p>PRECIO MAS BAJO</p>
     </div>
    
    <div class="precio-col-features">
     <p>VISTA LEJANA</p>
     <p>NO HAY TOMA DE FOTOS CON ARTISTAS</p>
     <p>NO HAY BOLETO GRATIS</p>
     </div>
    
    <div class="precio-col-comprar">
     <a>COMPRAR BOLETO</a>
     </div>
     </div>
    
    <div class="precio-col">
     <div class="precio-col-header">
     <h3>$ 2300 X 3 BOLETOS</h3>
     <p>VISTA MEDIA</p>
     </div>
    
    <div class="precio-col-features">
     <p>LUEGAR CON VISIBILIDAD BUENA</p>
     <p>POSIBLE FIRMA DE AUTOGRAFOS</p>
     <p>ASISTE AL ENSAYO GRUPAL</p>
     </div>
    
    <div class="precio-col-comprar">
     <a>COMPRAR BOLETO</a>
     </div>
     </div>
    
    <div class="precio-col">
     <div class="precio-col-header">
     <h3>$ 3500 X 4 BOLETOS + 1</h3>
     <p>para profesionales</p>
     </div>
    
    <div class="precio-col-features">
     <p>VISIBILIDAD PERFECTA</p>
     <p>TOMA DE FOTO CON ARTISTAS</p>
     <p>BOLETO ADICIONAL DE REGALO </p>
     </div>
    
    <div class="precio-col-comprar">
     <a>Comprar</a>
     </div>
     </div>
    
    </div>