
<div class="alert alert-primary" role="alert">
    <h1>Kurt Donald Cobain Feria Nacional</h1>
<h1>Bud Light Invita al gran concierto de Kurt en Palacio Nacional Chiapas</h1>
  </div>
  
<div class="row row-cols-1 row-cols-md-2">
    <div class="col mb-4">
      <div class="card">
        <img src="assets/kurt/kurt1.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">"Bud Light"</h5>
          <p class="card-text">Sabado 24 de Abril 2021 Palacio Nacional Chiapas 22:00 Hrs.</p>
          <h5 class="card-title">Playlist</h5>
          <p class="card-text"><li>La mujer perfecta</li><li>Smells like teen spirit</li><li>In bloom</li><li>Rape me</li><li>Something in the way</li>
        <li>Sliver</li><li>Dive</li></p>
        <button type="button" class="btn btn-outline-primary">Adquirir Boletos </button>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="assets/kurt/kurt2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Kurt Cobain</h5>
          <p class="card-text">-"Ellos se rien de mi por ser diferente, yo me rio de todos por ser iguales."</p>
          <p class="card-text">-"No sé donde voy, No sé, solo sé que aqui no puedo estar."</p>
          <p class="card-text">-"El autentico amigo es el que sabe todo sobre ti y sigue siendo tu amigo."</p>
          <p class="card-text">-"Me ami a mi mismo mejor que a ti, sé que está mal pero,¿que debo hacer?."</p>
          <p class="card-text"><small class="text-muted">#Chiapasionate</small></p>
          <p class="card-text"><small class="text-muted"></small></p>
          <p class="card-text"><small class="text-muted">No faltes</small></p>
          <button type="button" class="btn btn-outline-primary">Adquirir Boletos </button>
        </div>
      </div>
    </div>
  </div>
