
  <div class="card mb-3" style="max-width: 1500px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="assets/matisse/Matisse3.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h2 class="card-title">Perfums Rachelle (Perfumeria Fina) Te Invita al concierto de<p class="text-primary">"Matisse"</p></h2>
          <p class="card-text">Concierto Martes 04 de Agosto en Palacio Nacional Guadalajara Jalisco </p>
          <p class="card-text"><small class="text-muted">Puedes ganar un viaje al Hard Rock Hotel Rivera Maya</small></p>
          <a href="compraboletos"  class="btn btn-outline-primary">Adquirir Boleto</a>
        </div>
      </div>
    </div>  
</div>


<div class="card-deck">
  <div class="card">
    <img src="assets/matisse/matisse1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Matisse</h5>
      <p class="card-text">Martes 04 de Agosto en Palacio Nacional Guadalajara Jalisco</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Perfums Rachelle Te Invita</small>
    </div>
  </div>
  <div class="card">
    <img src="assets/matisse/matisse2.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Matisse</h5>
      <p class="card-text">Martes 04 de Agosto en Palacio Nacional Guadalajara Jalisco</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">#ViajaConMatisse</small>
    </div>
  </div>
  <div class="card">
    <img src="assets/matisse/matisse4.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Matisse</h5>
      <p class="card-text">Martes 04 de Agosto en Palacio Nacional Guadalajara Jalisco</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Adquiere tus boletos</small>
    </div>
  </div>
</div>







