
<!-- JESUS HERNANDEZ REYES-->
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Venta Online</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    
    <script src='main.js'></script>
</head>
<body>
    <br>
    <h1 class="col-sm-10 my-1 offset-md-5">Todos los Conciertos</h1><br>
    <table class="table col-sm-10 my-1 offset-md-1">
        
        <thead class="thead-dark">
          <tr>
            <th scope="col" >Fecha</th>
            <th scope="col">Nombre del Concierto</th>
            <th scope="col">Nombre del Artista</th>
            <th scope="col">Ubicación</th>
            <th scope="col">Precio</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">{{fecha1}}</th>
            <td>{{titulo1}}</td>
            <td>{{cantante1}}</td>
            <td>{{lugar1}}</td>
            <td>{{precio1}}</td>
            <td><a href="compraboletos"  class="btn btn-primary btn-lg active">Adquirir Boleto</a></td>
          </tr>
          <tr>
            <th scope="row">{{fecha2}}</th>
            <td>{{titulo2}}</td>
            <td>{{cantante2}}</td>
            <td>{{lugar2}}</td>
            <td>{{precio2}}</td>
            <td><a href="compraboletos"  class="btn btn-primary btn-lg active">Adquirir Boleto</a></td>
          </tr>
          <tr>
            <th scope="row">{{fecha3}}</th>
            <td>{{titulo3}}</td>
            <td>{{cantante3}}</td>
            <td>{{lugar3}}</td>
            <td>{{precio3}}</td>
            <td><a href="compraboletos"  class="btn btn-primary btn-lg active">Adquirir Boleto</a></td>
          </tr>
          <tr>
            <th scope="row">{{fecha4}}</th>
            <td>{{titulo4}}</td>
            <td>{{cantante4}}</td>
            <td>{{lugar4}}</td>
            <td>{{precio4}}</td>
            <td><a href="compraboletos"  class="btn btn-primary btn-lg active">Adquirir Boleto</a></td>
          </tr>
          <tr>
            <th scope="row">{{fecha5}}</th>
            <td>{{titulo5}}</td>
            <td>{{cantante5}}</td>
            <td>{{lugar5}}</td>
            <td>{{precio5}}</td>
            <td><a href="compraboletos"  class="btn btn-primary btn-lg active">Adquirir Boleto</a></td>
          </tr>
          <tr>
            <th scope="row">{{fecha6}}</th>
            <td>{{titulo6}}</td>
            <td>{{cantante6}}</td>
            <td>{{lugar6}}</td>
            <td>{{precio6}}</td>
            <td><a href="compraboletos"  class="btn btn-primary btn-lg active">Adquirir Boleto</a></td>
          </tr>
        </tbody>
      </table>
    
</body>
</html>