<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Voletos Online</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <script src='main.js'></script>
</head>
<body>

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner md-2">
    <div class="carousel-item active">
        <img src="assets/mat.jpg" class="d-block w-100"  width="100" height="600 " alt="">
    </div>
    <div class="carousel-item">
      <img src="assets/2.jpg" class="d-block w-100" width="50" height="600" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/3.jpg" class="d-block w-100" width="50" height="600" alt="..">
    </div>
    <div class="carousel-item">
      <img src="assets/4.jpg" class="d-block w-100" width="50" height="600" alt="..">
    </div>
    <div class="carousel-item">
      <img src="assets/5.jpg" class="d-block w-100" width="50" height="600" alt="..">
    </div>
</div>
<br>
<div class="card-deck">
  <div class="card">
    <img src="assets/morat.png" class="card-img-top" height="300">
    <div class="card-body">
      <p class="card-text">Pepsi Center</p>
      <h5 class="card-title">MORAT</h5>
      <p class="card-text">$1000mxn</p>
    <p class="card-text">Auditorio Nacional</p>
    <a href="/concierto2"  class="btn btn-primary btn-lg active">Ver Boleto</a>
    
    
    </div>
    <div class="card-footer">
      <small class="text-muted">Live Music Ticket</small>
    </div>
  </div>
  <div class="card">
    <img src="assets/matisse.png" class="card-img-top" height="300" alt="...">
    <div class="card-body">
      <p class="card-text">Auto Concierto</p>
      <h5 class="card-title">Matisse</h5>
      <p class="card-text">$1500mxn</p>
    <p class="card-text">Auditorio Nacional 3</p>
    <a href="/concierto3"  class="btn btn-primary btn-lg active">Ver Boleto</a>
    </div>
    <div class="card-footer">
      <small class="text-muted">Live Music Ticket</small>
    </div>
  </div>
  <div class="card">
    <img src="assets/kurt.png" class="card-img-top" height="300"  alt="...">
    <div class="card-body">
      <p class="card-text">Pepsi Center</p>
      <h5 class="card-title">Kurt</h5>
      <p class="card-text">$900mxn</p>
    <p class="card-text">Auditorio Nacional</p>
    <a href="/concierto4"  class="btn btn-primary btn-lg active">Ver Boleto</a>
    
    </div>
    <div class="card-footer">
      <small class="text-muted">Live Music Ticket</small>
    </div>
  </div>
</div>
</div>
<br>
<div class="card-deck">
  <div class="card">
    <img src="assets/camilo.jpg" class="card-img-top" height="300">
    <div class="card-body">
      <p class="card-text">Auto Concierto</p>
      <h5 class="card-title">Camilo</h5>
      <p class="card-text">$1500mxn</p>
    <p class="card-text">Auditorio Nacional</p>
    <a href="/concierto5"  class="btn btn-primary btn-lg active">Ver Boleto</a>
    
    </div>
    <div class="card-footer">
      <small class="text-muted">Live Music Ticket</small>
    </div>
  </div>
  
  <div class="card">
    <img src="assets/col.jpg" class="card-img-top" height="300" alt="...">
    <div class="card-body">
    <p class="card-text">MACHACA</p>
      <h5 class="card-title">Coldplay</h5>
      <p class="card-text">$1800mxn</p>
    <p class="card-text">Auditorio Nacional conciertos</p>
    <a href="/conciertos"  class="btn btn-primary btn-lg active">Ver Boleto</a>
    
    </div>
    <div class="card-footer">
      <small class="text-muted">Live Music Ticket</small>
    </div>
  </div>
  <div class="card">
    <img src="assets/aitana.jpg" class="card-img-top" height="300" alt="...">
    <div class="card-body">
      <p class="card-text">Pepsi Center</p>
      <h5 class="card-title">Aitana</h5>
      <p class="card-text">$1100mxn</p>
    <p class="card-text">Auditorio Nacional 6</p>
    <a href="/concierto6"  class="btn btn-primary btn-lg active">Ver Boleto</a>
    
    </div>
    <div class="card-footer">
      <small class="text-muted">Live Music Ticket</small>
    </div>
  </div>
  
  </div>
  
</body>
</html>