<div class="alert alert-info" role="alert">
    <h3>Aitana Ocaña Morales</h3><h3 class="card-text">Fiesta de Cembrina</h3><h3 class="card-text">31 de Diciembre 2020 en Palacio Nacional Quintana Roo</h3>
    <a href="/compraboletos"  class="btn btn-outline-primary">Adquirir Boleto</a>
  </div>
<div class="card-group">

    <div class="card">
      <img src="assets/aitana/aitana5.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h2 class="card-title">Aitana Ocaña Morales</h2>
        <p class="card-text">Fiesta de cembrina</p>
        <p class="card-text">Gran concierto Palacio Nacional</p>
        <p class="card-text"><small class="text-muted">16 de Septiembre en Palacio Nacional Quintana Roo</small></p>
      </div>
    </div>
    <div class="card">
      <img src="assets/aitana/aitana3.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h2 class="card-title">Aitana</h2>
        <p class="card-text">Playlist</p>
        <p class="card-text"><small class="text-muted"><li>Enemigos</li><li>Lo malo</li>
            <li>Con la miel en los labios</li><li>Mejor que tu</li><li>Nada sale mal</li>
            <li>Perdimos la razon</li><li>El mundo entero</li><li>Las vegas</li></small></p>
      </div>
    </div>
    <div class="card">
      <img src="assets/aitana/aitana4.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h2 class="card-title">Quintana Roo</h2>
        <p class="card-text">Banamex Te invita a su gran festival de cembrina. No faltes</p>
        <p class="card-text"><small class="text-muted">#YoAitana</small></p>
      </div>
    </div>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
              <img src="assets/aitana/aitana2.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
      </div>
  </div>

