<div class="alert alert-primary" role="alert">
    <h3>RELIVE THE FESTIVAL</h3><h3 class="card-text">Feria Nacional</h3><h3 class="card-text">Julio 15 del 2020 en Palacio Nacional</h3>
    <a href="compraboletos"  class="btn btn-outline-primary">Adquirir Boleto</a>
  </div>
<div class="card-group">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
              <img src="assets/morat/morat2.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
      </div>
    <div class="card">
      <img src="assets/morat/morat1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h2 class="card-title">Morat</h2>
        <p class="card-text">Feria Nacional</p>
        <p class="card-text">Gran concierto Palacio Nacional</p>
        <p class="card-text">No faltes</p>
        <p class="card-text"><small class="text-muted">Julio 15 del 2020</small></p>
      </div>
    </div>
    <div class="card">
      <img src="assets/morat/morat3.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h2 class="card-title">Morat</h2>
        <p class="card-text">Playlist</p>
        <p class="card-text"><small class="text-muted"><li>Como te atreves</li><li>Amor con hielo</li><li>Yo mas te adoro</li><li>Besos en guerra</li>
            <li>Cuando nadie ve</li><li>Cuanto me duele</li><li>Presiento</li></small></p>
      </div>
    </div>
    <div class="card">
      <img src="assets/morat/morat4.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h2 class="card-title">Morat</h2>
        <p class="card-text">"Voy a rogarle a esos recuerdos que aparezcan, que por las noches, sin dañarte, te enloquezcan." 
            -Ahora que no puedo hablarte.</p>
        <p class="card-text"><small class="text-muted">Morat tomorrow land</small></p>
      </div>
    </div>
  </div>

