  <head>
    <title>Menu</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
  </head>
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <img src="assets/LOGO.png" width="60mvs" height="60mvs" class="d-inline-block align-top" alt="" loading="lazy">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" style="color: aliceblue" [routerLink]="['home']">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" style="color: aliceblue" [routerLink]="['login']" href="#">login<span class="sr-only">(current)</span></a>
        </li>
        <ul class="nav nav-tabs">
          <li class="nav-item dropdown" >
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" style="color: aliceblue;" href="#" role="button" aria-haspopup="true" aria-expanded="false">Conciertos</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" [routerLink]="['catalogo-c']">Todos los Conciertos</a>
              <div class="dropdown-divider"></div>
            </div>
          </li>
        </ul>
      </ul>
      <a class="nav-link" style=" font-size:20px;" [routerLink]="['regUser']" href="#">Registrar <span class="sr-only">(current)</span></a>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
      </form>
      <ul>
        <li class="nav-item dropdown no-arrow">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="mr-2 d-none d-lg-inline text-gray-600 small">.</span>
            
            <img class="img-profile rounded-circle" src="">
          </a>
      
          <!--User Information -->
          <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
            <a class="dropdown-item" href="/usuarios">
              <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
              Perfil/Compras
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" (click)="logout()" data-toggle="modal" data-target="#logoutModal">
              <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
              Cerrar Sesion
            </a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  
  
