<!-- Image and text -->
<nav class="navbar navbar-light bg-white">
    <a class="navbar-brand" href="#">
      <img src="assets/LOGO.png" width="100" height="55" class="d-inline-block align-top" alt="" loading="lazy">
      VENTA DE BOLETOS ONLINE
    </a>
    <a class="nav-link" style=" font-size:20px;" [routerLink]="['home']" href="#">Home <span class="sr-only">(current)</span></a>

    <ul class="nav nav-tabs">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Conciertos</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" [routerLink]="['catalogo-c']">Todos los Conciertos</a>
          <div class="dropdown-divider"></div>
        </div>
      </li>
    </ul>
        
    <a class="nav-link" style=" font-size:20px;" [routerLink]="['usuarios']" href="#">Usuarios <span class="sr-only">(current)</span></a>
    <a class="nav-link" style=" font-size:20px;" [routerLink]="['regUser']" href="#">Registrar <span class="sr-only">(current)</span></a>
       
          
  </nav>
